<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='{{ site.baseurl }}/assets/fonts/arq.css' 'text/css'>
		<link rel='stylesheet' href='{{ site.baseurl }}/assets/css/main.css' type='text/css'>  <!--Since this is a template, it needs to be a root-relative link-->
        <script type='text/javascript' src='{{ site.baseurl }}/assets/js/vendor/modernizr-2.6.2.min.js'></script>-->
        
        <style>
    body {
	font-family: 'ArquitectaMedium', helvetica, sans-serif;
	}

h1 {
	color: #4974B2;
	font-weight: 400;
	margin-top: 30px;
	margin-left: 15px;
	font-size: 30px;
	}

h2 {
	color: pink;
	font-weight: 400;
	margin-top: 30px;
	margin-left: 15px;
	font-size: 30px;
	font-family: 'Helvetica';
	}
	
</style>
		
	</head>

	<body>
		
		{{ content }}  <!--content is a specia lreserved word in liquid which means to take everything from our templaste page into this page-->
	</body>
</html>